<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/materialize.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <title></title>
  </head>
  <header>
    <nav>
      <div class="nav-wrapper light-blue darken-4"><a class="brand-logo center" href="#"><img class="logo-img" src="https://cdn3.iconfinder.com/data/icons/social-icons-5/607/Twitterbird.png" widht="50px" height="50px"/></a><a class="button-collapse" data-activates="mobile-demo"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li class="icon-button"><a class="waves-effect waves-light btn red lighten-1 tooltipped" href="/create" data-position="bottom" data-delay="50" data-tooltip="Crear Usuario"><i class="material-icons">create</i></a></li>
          <li class="icon-button"><a class="waves-effect waves-light btn  red lighten-1 tooltipped" href="/login" data-position="bottom" data-delay="50" data-tooltip="Iniciar Sesión"><i class="material-icons">person</i></a></li>
        </ul>
        <ul class="left hide-on-med-and-down">
          <li class="icon-link"><a class="waves-effect waves-light" href="/"><i class="material-icons">home</i>
              <p>Inicio</p></a></li>
          <li class="icon-link"><a class="waves-effect waves-light" href="/#mision_vision"><i class="material-icons">directions</i>
              <p>Misión</p></a></li>
          <li class="icon-link"><a class="waves-effect waves-light" href="/#mision_vision"><i class="material-icons">visibility</i>
              <p>Visión</p></a></li>
          <li class="icon-link"><a class="waves-effect waves-light" href="/#nosotros"><i class="material-icons">people</i>
              <p>Nosotros</p></a></li>
          <li class="icon-link"><a class="waves-effect waves-light" href="#"><i class="material-icons">email</i>
              <p>Contacto</p></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="#">Componentes</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <body>
    <h2 class="text-center">Selecciona el tema</h2>
    <div class="temas">
      <div class="tema">
        <h3>Abecedario d</h3><img src="https://upload.wikimedia.org/wikipedia/commons/b/bf/Iranian_girl_polo_player.jpg"/>
        <h4>Hola mundo</h4>
      </div>
    </div>
  </body>
  <footer class="blue-grey darken-4 page-footer footer-paddin">
    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="orange-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit aliquam, exercitationem laudantium, excepturi fuga distinctio cum impedit aperiam provident aspernatur recusandae magni ratione nemo nam fugit at velit unde ea.</p>
        </div>
        <div class="col l4 s12">
          <h5 class="white-text text-center">Links</h5>
          <center>
            <ul>
              <li class="footer-link"><a class="footer-a" href="/">Inicio</a></li>
              <li class="footer-link"><a class="footer-a" href="/#mision_vision">Misión</a></li>
              <li class="footer-link"><a class="footer-a" href="/#mision_vision">Visión</a></li>
              <li class="footer-link"><a class="footer-a" href="/#nosotros">Nosotros</a></li>
              <li class="footer-link"></li>
            </ul>
          </center>
        </div>
        <div class="col l4 s12 img-f">
          <h5 class="white-text text-center">Hola mundo xd</h5><img class="footer-img" src="https://static.pexels.com/photos/121508/pexels-photo-121508.jpeg" widht="300px" height="200px"/>
        </div>
      </div>
    </div>
  </footer>
</html>
<script src="/javascripts/jquery-3.2.0.min.js"></script>
<script src="/javascripts/materialize.min.js"></script>
<script src="/javascripts/main.js"></script>