extends base.pug
block content
    div.contenido_seccion
        each val in secciones_vista.length ? secciones_vista : ['There are no values']
            a(href="/nivel1/" + val.seccion + "/" + val.texto)
                div.letras_contenido
                    h3= val.texto
                    img(src= val.imagen)
                    //- video(width=320 height=240 controls)
                    //-     source(src= val.video type="video/mp4")